:host {
  display: block;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

h2 {
  text-align: center;
  color: #22c55e;
}

input,
select {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background: #334155;
  color: #e2e8f0;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid #22c55e;
}

button {
  width: 100%;
  background: #22c55e;
  color: #0f172a;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background: #16a34a;
}
