:host {
  display: block;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

h2 {
  text-align: center;
  color: #22c55e;
}

p {
  background: #334155;
  padding: 12px;
  border-radius: 5px;
  margin: 10px 0;
  color:aliceblue
}
